{% extends "base.html" %}
{% block head %}
    <script>
    function updatetemp() {
    	$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    	$.ajax({
        url : $SCRIPT_ROOT + "/updatetemp",
        success : function(result){
            $('#indoorTempDiv').html(result);
        }
    })
    };

    function updateRH() {
    	$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    	$.ajax({
        url : $SCRIPT_ROOT + "/updateRH",
        success : function(result){
            $('#indoorRHDiv').html(result);
        }
    })
    };

    function updateOuttemp() {
    	$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    	$.ajax({
        url : $SCRIPT_ROOT + "/updateOuttemp",
        success : function(result){
            $('#outdoorTempDiv').html(result);
        }
    })
    };

    function updateOutRH() {
    	$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    	$.ajax({
        url : $SCRIPT_ROOT + "/updateOutRH",
        success : function(result){
            $('#outdoorRHDiv').html(result);
        }
    })
    };

    window.setInterval(function(){
      updatetemp()
      updateRH()
      updateOuttemp()
      updateOutRH()
    }, 600000);
    updatetemp()
    updateRH()
    updateOuttemp()
    updateOutRH()
    </script>
{% endblock %}
{% block content %}
    <table>
        <tr>
            <td></td>
            <td>Temp</td>
            <td>Humidity</td>
        </tr>
        <tr>
            <td>Indoor</td>
            <td><span id="indoorTempDiv"></span>&deg;</p></td>
            <td><span id="indoorRHDiv"></span>&deg;</p></td>
        </tr>
        <tr>
            <td>Outdoor</td>
            <td><span id="outdoorTempDiv"></span>&deg;</p></td>
            <td><span id="outdoorRHDiv"></span>&deg;</p></td>
        </tr>
    </table>
    <form action="/index" method="POST" >
        <h3>Mode</h3>
        {% if mode == "cool" %}
            <input type="radio" name="mode" value="cool" checked>Cool<br>
            <input type="radio" name="mode" value="heat">Heat<br>
            <input type="radio" name="mode" value="fan">Fan<br>
            <input type="radio" name="mode" value="off">Off<br>
        {% elif mode == "heat" %}
            <input type="radio" name="mode" value="cool">Cool<br>
            <input type="radio" name="mode" value="heat" checked>Heat<br>
            <input type="radio" name="mode" value="fan">Fan<br>
            <input type="radio" name="mode" value="off">Off<br>
        {% elif mode == "fan" %}
            <input type="radio" name="mode" value="cool">Cool<br>
            <input type="radio" name="mode" value="heat">Heat<br>
            <input type="radio" name="mode" value="fan" checked>Fan<br>
            <input type="radio" name="mode" value="off">Off<br>
        {% else %}
            <input type="radio" name="mode" value="cool">Cool<br>
            <input type="radio" name="mode" value="heat">Heat<br>
            <input type="radio" name="mode" value="fan">Fan<br>
            <input type="radio" name="mode" value="off" checked>Off<br>
        {% endif %}
        <br>
        <h3>State</h3>
        {% if state == "auto" %}
            <input type="radio" name="state" value="auto" checked>Auto<br>
            <input type="radio" name="state" value="here">Here<br>
            <input type="radio" name="state" value="away">Away<br>
        {% elif state == "here" %}
            <input type="radio" name="state" value="auto">Auto<br>
            <input type="radio" name="state" value="here" checked>Here<br>
            <input type="radio" name="state" value="away">Away<br>
        {% else %}
            <input type="radio" name="state" value="auto">Auto<br>
            <input type="radio" name="state" value="here">Here<br>
            <input type="radio" name="state" value="away" checked>Away<br>
        {% endif %}
        <h3>Away Setting</h3>
        {% if set_away == "auto" %}
            <input type="radio" name="set_away" value="auto" checked>Auto<br>
            <input type="radio" name="set_away" value="off">Off<br>
        {% else %}
            <input type="radio" name="set_away" value="auto">Auto<br>
            <input type="radio" name="set_away" value="off" checked>Off<br>
        {% endif %}
        <br>
        Here: <input type="text" name="set_temp" size=2 value="{{set_temp}}"/>
        Away: <input type="text" name="set_away_temp" size=2 value="{{set_away_temp}}"/>
        <button type="submit" name="submit">Go</button>
    </form>
{% endblock %}
